/* HTML elements */

/* Nord theme: https://www.nordtheme.com/ */
:root {
	--background: #2e3440;
	--dark: #3b4252;
	--text: #eceff4;
	--link: #ebcb8b;
}

/* HTML elements */
body {
	font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
	color: var(--text);
	background: var(--background);
	margin: 0;
}
a {
	color: var(--link);
	text-decoration: none;
}
button:hover {
	opacity: .8;
}
main {
	margin: 3rem 1rem;
}
form {
	max-width: 60ch;
	margin: 0 auto;
}
label {
	display: block;
	font-weight: bold;
	margin-bottom: .25rem;
	cursor: pointer;
}
input {
	font-family: inherit;
	color: var(--text);
	background: rgba(255, 255, 255, .1);
	border: none;
	padding: .5rem 1rem;
	border-radius: .25rem;
	width: 100%;
	font-size: .825rem;
}
input:focus {
	box-shadow: 0 0 1px 1px rgba(255, 255, 255, .3);
}
button {
	background: #fff;
	color: var(--dark);
	border: none;
	padding: .5rem 1rem;
	font-weight: bold;
	cursor: pointer;
	border-radius: .25rem;
	font-size: 1rem;
}

/* Alerts, copied from Bootstrap */
.alert {
	padding: .75rem 1.25rem;
	margin: 1rem 0;
	border-radius: .25rem;
}
.alert-danger {
	color: #721c24;
	background: #f8d7da;
	border: #f5c6cb;
}
.alert-success {
	color: #155724;
	background: #d4edda;
	border: #c3e6cb;
}

/* Header */
header {
	background: var(--dark);
	display: flex;
	align-items: center;
	padding: .5rem 1rem;
	position: sticky;
	top: 0;
	z-index: 1;
	font-weight: bold;
	letter-spacing: .125rem;
	text-transform: uppercase;
}
header a {
	color: #fff;
}
h1 {
	margin: 0;
	font-size: 1rem;
	white-space: nowrap;
}
header form {
	margin-left: 2rem;
}
header nav {
	display: none;
	font-size: .75rem;
	margin-left: auto;
}

/* Item list */
section {
	max-width: 70ch;
	margin: 0 auto;
}
article {
	display: flex;
	align-items: flex-start;
}
article + article {
	margin-top: 1rem;
}
article span {
	opacity: .5;
	margin-right: 1rem;
	background: var(--dark);
	border-radius: .25rem;
	display: block;
	min-width: 3rem;
	height: 3rem;
	line-height: 3rem;
	text-align: center;
}
article h2 {
	margin: 0;
	font-size: 1.125rem;
}
article a {
	color: inherit;
	display: block;
	margin: 0 0 .25rem;
}
article a:hover {
	color: var(--link);
}
small {
	font-size: .825rem;
	font-weight: normal;
	opacity: .5;
}

.pagination {
	list-style: none;
	padding: 0;
	margin: 3rem 0 0;
	display: flex;
	justify-content: center;
}
.pagination li + li {
	padding: 0 .5rem;
}

footer {
	text-align: center;
	font-size: .825rem;
	margin-bottom: 2rem;
	padding: 0 1rem;
}


@media (min-width: 768px) {
	header nav {
		display: block;
	}
}
